/* 폰트가져오기 */
@import url('https://fonts.googleapis.com/css2?family=Anaheim&display=swap');

header {
  font-family: 'Anaheim', sans-serif;
}

.at { 
  color:#DDAFAE;
  font-weight: bold;
}

header nav { 
  display:flex; 
}

header nav > a { 
  display:block; 
  padding:4px; 
}

.div-wrap {
  max-width: 1920px;
}

.logo > img {
  width:100%;
}

.footer-go > img {
  width:100%;
}