/* 폰트가져오기 */
@import url('https://fonts.googleapis.com/css2?family=Anaheim&display=swap');

header {
  font-family: 'Anaheim', sans-serif;
}


/* 상단바, 푸터 */
.at { 
  color:#DDAFAE;
  font-weight: bold;
}

header nav { 
  display:flex; 
}

header nav > a { 
  display:block; 
  padding:4px; 
}

.div-wrap {
  max-width: 1920px;
}

.logo > img {
  width:100%;
}

.footer-go > img {
  width:100%;
}

/* 포트폴리오 커스텀 */

.pf-slider {
  height: 500px;
}

.pf-slider .swiper-button-next {
  left:50%;
}

.pf-slider .swiper-button-prev {
  left:50%;
}

.pf-slider .swiper-button-next::after, 
.pf-slider .swiper-button-prev::after {
  display: none;
}

